apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-front
  annotaions:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: frontend-ingressclass
  rules:
    - http: 
        paths:
        - pathType: Prefix
          path: /
          backend:
            service:
              name: frontend-service
              port:
                number: 80